{% extends 'base.html' %} 
{% block head %} 
<title>Edit post</title>
{% endblock%}
{% block body %} 
<h1>Editing post</h1>
<form action="/allposts/edit/{{post.id}}" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="title" value="{{post.title}}">
      <div id="title" class="form-text">Be Creative</div>
    </div>
    <div class="mb-3">
      <label for="Author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author" value="{{post.author}}">
    </div>
    <div class="input-group">
        <span class="input-group-text">Post</span>
        <input type="textarea" class="form-control" aria-label="Post" name="content" id="content" value="{{post.description}}">
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}