{% extends 'base.html' %} 
{% block head %} 
<title>Home</title>
{% endblock%}
{% block body %} 
<br>
<br>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome</h1>
      <p class="col-md-8 fs-4">This is a blogging website we write blogs on technical and technology related stuff do follow our website and make yourself comfortable to know more about all the technical and technology related things upto date and be ready to work with us in the doing projects with us.</p>
      <br>
      <p>For cool stuff like this visit <a href="https://www.seesaws.in"> Seesaws and also keep yourself updated.</a></p>
      <button class="btn btn-primary btn-lg" type="button" ><a class="text-decoration-none text-white font-weight-bold" href="/allposts">Go to posts</a></button>
    </div>
</div>

{% endblock%}
 