{% extends 'base.html' %} 
{% block head %} 
<title>Posts</title>
{% endblock%}
{% block body %} 
<br>
<div>
<h1 class="font-monospace fw-bold" style="display: inline;">All posts</h1>
<a class="btn btn-success" style="float:right" href="/allposts/new">+ Create a new post</a>
</div>
<br>

<!--  <hr>
    <h2>Create a new post</h2>
    <form action="/allposts" method="post">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" placeholder="title" aria-label="title" name="title" id="title">
    <br>
    <label for="post" class="form-label">Post</label>
    <textarea class="form-control" aria-label="With textarea" name="content" id="content"></textarea>
    <br>
    <label for="author" class="form-label">Author</label>
    <input type="text" class="form-control" placeholder="author" aria-label="author" name="author" id="author">
    <br>
    <input type="submit" class="btn btn-primary btn-lg" value="Post">
    </form>
    </hr> -->
    {% for posts in Posts %}
        <div class="row">
            <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{posts.title}}</strong>
                <h3 class="mb-0">{{posts.title}}</h3>
                <br>
                <div class="mb-1 text-muted">{{posts.date_posted}}</div>
                <br>
                <p class="card-text mb-auto">{{posts.description}}</p>
                <br>
                {% if posts.author %}
                    <strong>By : {{posts.author}}</strong>
                {% else %}
                    <small>N/A</small>
                {% endif %}
                <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-danger btn-sm" href="/allposts/delete/{{posts.id}}">Delete</a>
                <a class="btn btn-primary btn-sm" href="/allposts/edit/{{posts.id}}">Edit</a>
                </div>  
                </div>
<!--            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div> -->
            </div>
        </div>


    {% endfor %}
{% endblock%}
    